body {
  background-image: linear-gradient(to right top, #272932, #4D7EA8, #828489, #9E90A2, #B6C2D9);;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container {
  height: 100vh;
}

.col-4 {
  width: calc(80% / 3);
  height: 300px;
}

.ap-box {
  height: 280px;
  width: 200px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 2px black;
}

.ap-box .image {
  height: 200px;
  width: 100%;
}